**de-project-key.json
**dev-sa-key.json
**stg-sa-key.json
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
venv/
.env
.env.*
.google/
*.log
airflow/logs/
# Python cache
__pycache__/
*.py[cod]
# Temp output folders
csv/
parquet/
# OS files
.DS_Store
lib/
airflow.scripts.egg-info/
metar_etl.egg-info/

dev-sa-key.json
stg-sa-key.json