apache-airflow-providers-google

python-dotenv

numpy
pyarrow
pandas
sqlalchemy 
psycopg2-binary


pyspark
google-cloud-storage
apache-airflow-providers-apache-spark
apache-airflow-providers-dbt-cloud

pytest

